<h2 class="fade-in one">Thanks for helping improve</h2>
<h1 class="lobstah fade-in one">Weight Weight, Don't Tell Me...</h1>
<h2 class="fade-in two">Have a cat.</h2>

<a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif" class="fade-in three"></a>
<br>

<a href="/" class="fade-in four">Do it again? You skew the machine :/ but you get another cat :)</a>
<br>
<a href="http://www.google.com" class="fade-in four">Or Google</a>